.btn {
  display: block;
}
#quizresult1 {
  display: none;
}
#quizresult2 {
  display: none;
}
#quizresult3 {
  display: none;
}
#quizresult4 {
  display: none;
}

body {
  background-image: url('../img/matrix.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  color:white;
  font-family: courier;
  font-weight: bold;
}
h2 {
  font-family: courier;
  font-weight: bold;
  color: white;
}
h3 {
  font-family: courier;
  font-weight: bold;
  color: white;
}
p {
  color:white;
  font-family: courier;
  font-weight: bold;
}
label {
  color:red;
  font-family: courier;
  font-weight: bold;
  font-size: 30px;
}
button {
  color: white;
  background-color: blue;
  border-color: green;
  border-style: dashed;
  font-family: courier;
  margin-top: 8px;
  font-size: 30px;
}
